<%= flash[:gif_destroyed] %>

<div class="container-fluid">
  <% @grouped_gifs.each do |category, gifs| %>
    <div class="col-3">
      <h4><%= category.capitalize %></h4>
    </div>
    <div class="row">
        <% gifs.each do |gif| %>
          <div class="card border border-white" style="width: 17rem;">
            <img class="card-img-top" src=<%= gif.image_path %> alt="Card image cap" style="height:150px;">
              <div class="card-body">
                <% if current_user.admin? %>
                  <%= link_to 'Delete', admin_gif_path(gif), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger btn-lg" %>
                <% elsif current_user.gifs.include?(gif) == false %>
                  <%= link_to 'FAVORITE â¤', user_gifs_path(current_user.id, :gif_id => gif.id), method: :post, class: "badge badge-danger" %>
                <% elsif current_user.gifs.include?(gif) %>
                  <%= link_to 'UNFAVORITE', user_gif_path(current_user, gif), method: :delete, class: "badge badge-warning" %>
                <% end %>
              </div>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
